{
  "extends": ["airbnb"],
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  },
  "rules": {
    "consistent-return": 0,
    "lines-between-class-members": 0,
    "no-plusplus": 0,
    "no-underscore-dangle": 0,
    "object-curly-newline": 0
  }
}
